#video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* width: 100%; */
  margin: 0;
  padding: 0;
  /* height: 100%; */
  width: 100%;
  opacity: 0.77;
  /* border-bottom-left-radius: 300%;
  border-top-right-radius: 295%;
  border-top-left-radius: 300%;
  border-bottom-right-radius: 300%;
  transform: rotate(50%);
  clip-path: polygon(0 31.21%, 250% 3%, 0 99%); */
}
