.form-check-input {
    margin-left: 5px;
}

.form-check-input:checked {
    background-color: rgb(105, 23, 101);
    border-color: rgb(105, 23, 101);
    outline: rgb(105, 23, 101);
}

.form-check-input {
    margin-right: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 0.75px;
}

/* buttons */

.btn,
.btn:active {
    background: rgb(105, 23, 101);
    font-size: 17px;
    border: rgb(105, 23, 101);
    padding: 0.85rem 1.1rem 0.85rem 1.1rem;
    font-family: 'Medieval Scribish', sans-serif;
    letter-spacing: 3px;
    cursor: url(https://img.icons8.com/external-edtim-lineal-color-edtim/50/external-Sword-games-edtim-lineal-color-edtim.png), auto;
}

.btn:hover {
    background: rgb(105, 23, 101);
    font-size: 17px;
    border: rgb(105, 23, 101);
    padding: 0.85rem 1.1rem 0.85rem 1.1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: url(https://img.icons8.com/external-edtim-lineal-color-edtim/50/external-Sword-games-edtim-lineal-color-edtim.png), auto;
}

#app-loader {
    /* margin-top: 6em; */
    margin: auto
}

.btn:active {
    background: rgb(105, 23, 101) !important;
}

#modal-btn:hover {
    transform: translateY(-1px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: shakeslow 30s ease-in-out infinite;
}

#explore-btn {
    padding: 0.5em 0.65em 0.5em 0.65em;
}

input[type="range"]::-webkit-slider-thumb {
    background: rgb(105, 23, 101) !important;
}