/* Paginator */

#paginator-container {
    /* background: transparent; */
    /* margin: 1rem; */
    border-radius: 5px;
    justify-content: space-between;
    padding: 0;

}

#paginator-item {
    background: green;
    /* padding: 0px; */
    margin: 0;
    color: white;
    font-family: 'Medieval Scribish', sans-serif;
    letter-spacing: 1px;
    font-size: 21px;
}

#paginator-item:focus {
    box-shadow: rgba(105, 23, 101, 0.8) 0px 8px 44px;
    box-shadow: 0 0 0 0.15rem rgba(105, 23, 101, 0.4);
}