table {
    border-collapse: collapse;
    /* border-radius: 50px; */
    /* width: 50%; */
    /* margin: 5rem; */
    font-weight: bold;
}

th {
    padding: 1rem 1rem 1rem 0.5rem !important;
    font-size: 1.1em;
}

td {
    font-size: 1.1em;
}

tr {
    background: rgb(105, 23, 101);
    /* border: 2px solid blue; */
    padding: 1em auto 1em auto;

}

#layout-basic-td {
    padding: 1rem 1rem 1rem 0.5rem !important;
    background: rgba(105, 23, 101, 0.125);
    /* border: 2px solid blue; */

}

#layout-basic-tr {
    padding: 1rem !important;
    margin: 1rem;
    background-color: rgba(79, 63, 78, 0.4);
}

#layout-basic-table {
    width: 85%;
    height: 85%;
}

#characters-container,
#books-container,
#houses-container {
    height: 83%;
    overflow: scroll;
    margin-top: 7em;
}